
/* *{
    margin: 0px; 
     padding: 0px;
} */
/* .products 
{
    width: 100%;
    height: auto;
    background-color: red;
    padding: 40px;
}
.products-child
{
    width: 20%;
    height: 200px;
    background-color: yellow;
    margin-bottom: 10px;
    font-size: 30px;
} */

.dummy-text
{
    background-color: green;
    color: white;
    padding: 10px;
    margin: 30px;
    margin-top: 30px;
}
